.path_tothe_card__container{
    margin-top: 24.5px;
    display: flex;
    justify-content: center;
}

.path_tothe_card__content{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 1187.93px;
    height: 21px;
}

.contacts__main_block__container{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.contacts__main_block__header{
    font-size: 52px;
    font-weight: 700;
}

.contacts__main_block__main_content__container{
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.contacts__main_block__main_content__left_block{
    border-radius: 12px;
    background: rgb(243, 243, 243);
    padding: 20px;
    width: 280px;
    height: 183px;
}

.delivery_and_payment, .return_conditions{
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;

    span{
        font-size: 16px;
        font-weight: 700;
        color: rgb(29, 29, 29);
    }
}

.delivery_and_payment{
    a{
        margin-bottom: 19.5px;
    }
}

.return_conditions, .agreement{
    a{
        margin-bottom: 19.5px;
        margin-top: 20.5px;
    }
}

.agreement{
    display: flex;

    span{
        color: rgb(29, 29, 29);
    }
}

.delivery_and_payment a:hover, .return_conditions a:hover, .agreement a:hover{
    span{
        color: rgb(255, 125, 1);
    }
}

.contacts__main_block__main_content__left_block___text_content_container{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    width: 880px;
}

.contacts__main_block__main_content__left_block___header{
    font-size: 20px;
    font-weight: 700;
}

.contacts__main_block__main_content__left_block___text_content{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    span{
        font-size: 16px;
        font-weight: 400;
    }

    span:nth-child(4){
        font-weight: 500;
    }
}

.contacts__main_block__main_content__left_block___cards_container{
    margin-top: 20px;
}

.card__call_center, .card__wholesale_purchases, .card__vacancies_and_cooperation{
    padding: 20px;
    width: 281.14px;
    box-sizing: border-box;
    border: 1px solid rgb(123, 200, 252);
    border-radius: 12px;
}

.card__wholesale_purchases{
    border: 1px solid rgb(243, 145, 222);
}

.card__vacancies_and_cooperation{
    border: 1px solid rgb(148, 247, 154);
}

.card__call_center__header, .card__wholesale_purchases__header, .card__vacancies_and_cooperation__header{
    display: flex;
    gap: 14px;
    align-items: center;
    height: 27px;
    border-bottom: 1px solid rgb(243, 243, 243);

    img{
        width: 17.14px;
        height: 17.14px;
        margin-bottom: 14px;
    }

    span{
        color: rgb(123, 200, 252);
        font-family: TT Firs;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        display: flex;
        margin-bottom: 14px;
    }
}

.card__wholesale_purchases__header{
    span{
        color: rgb(243, 145, 222);
    }
}

.card__vacancies_and_cooperation__header{
    span{
        color: rgb(69, 224, 88);
    }
}

.card__call_center__phone_number, .card__wholesale_purchases__phone_number, .card__vacancies_and_cooperation__phone_number{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 4px;

    span:nth-child(1){
        font-size: 20px;
        font-weight: 800;
    }

    span:nth-child(2){
        font-size: 12px;
        font-weight: 400;
    }
}

.card__call_center__mail, .card__wholesale_purchases__mail, .card__vacancies_and_cooperation__mail{
    margin-top: 18px;

    a{
        color: rgb(29, 29, 29);
        font-size: 16px;
        font-weight: 700;
    }
}

.card__call_center__work_schedule, .card__wholesale_purchases__work_schedule, .card__vacancies_and_cooperation__work_schedule{
    margin-top: 18px;
    display: flex;
    flex-direction: column;

    span{
        font-size: 16px;
        font-weight: 400;
    }
}

.contacts__main_block__main_content__left_block___cards_content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.reviews_container{
    margin-top: 33px;
}

.reviews___header{
    display: flex;
    width: 880px;
    justify-content: space-between;
    align-items: center;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 32px;
        font-weight: 700;
    }
}

.reviews___slider_btns{
    display: flex;
    gap: 13.13px;

    a{
        width: 36.86px;
        height: 36.86px;
        box-sizing: border-box;
        border: 1.19px solid rgb(255,125,1);
        background: rgb(255,255,255);
        display: flex;
        border-radius: 100px;
        align-items: center;
        justify-content: center;
    }
}

.review_cards__container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.review_card{
    display: flex;
    align-items: center;
}

.review_id{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        width: 89px;
        height: 38px;
        font-size: 14px;
        font-weight: 700;
        font-family: TT Firs;
        text-align: center;
        margin-top: 16px;
    }
}

.review__date__stars___mobile{
    display: none;
}

.review_vector_design___block{
    height: 145px;
    width: 39px;
    position: relative;
    display: flex;
    flex-direction: column;

    img{
        position: absolute;
        top: 85px;
    }
}

.review___main_block{
    display: flex;
    flex-direction: column;
}

.review___main_block___header{
    display: flex;
    gap: 16.75px;
}

.review___main_block___header___mobile{
    display: none;
}

.review___date_block{
    color: rgb(113, 113, 113);
    font-family: TT Firs;
    font-size: 12px;
    font-weight: 400;
}

.review___text_container{
    margin-top: 12px;
}

.review___text{
    width: 754px;
    height: 116px;
    padding: 20px;
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 13px;
    font-weight: 400;
    border-radius: 14px;
    background: rgb(243, 243, 243);
}

.reviews__content___right_block___img{
    background-image: url(../../../img/shops_page/reviews_block.png);
    width: 494px;
    height: 464px;
    float: right;
    margin-left: 30px
}

.reviews_bottom_block__container{
    display: flex;
    justify-content: center;
}

.reviews_bottom_block__content{
    width: 1180px;
    height: 440px;
    display: flex;
    border-radius: 44px;
    background: rgb(243, 145, 222);
    margin-top: 70px;
}

.reviews__content___left_block{
    margin-top: 110px;
    margin-left: 70px;
}

.reviews__content__text_header{
    color: rgb(255, 255, 255);
    font-size: 52px;
}

.reviews__content__text{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 44px;
}

.reviews__content__button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
    background: rgb(255, 255, 255);
    width: 210px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        color: rgb(243, 145, 222);
        font-size: 16px;
    }
}

.viewed_products__container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.viewed_products__content{
    width: 1180px;
}

.viewed_products__text_header{
    font-size: 32px;
    font-weight: 700;
}

.viewed_products__prod_cards__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}