.path_tothe_card__container{
    margin-top: 24.5px;
    display: flex;
    justify-content: center;
}

.path_tothe_card__content{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 1187.93px;
    height: 21px;
}

.contacts__main_block__container{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.contacts__main_block__header{
    font-size: 52px;
    font-weight: 700;
}

.contacts__main_block__main_content__container{
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.contacts__main_block__main_content__left_block{
    border-radius: 12px;
    background: rgb(243, 243, 243);
    padding: 20px;
    width: 280px;
    height: 183px;
}

.delivery_and_payment, .return_conditions{
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;

    span{
        font-size: 16px;
        font-weight: 700;
        color: rgb(29, 29, 29);
    }
}

.delivery_and_payment{
    a{
        margin-bottom: 19.5px;
    }
}

.return_conditions, .agreement{
    a{
        margin-bottom: 19.5px;
        margin-top: 20.5px;
    }
}

.agreement{
    display: flex;

    span{
        color: rgb(29, 29, 29);
    }
}

.delivery_and_payment a:hover, .return_conditions a:hover, .agreement a:hover{
    span{
        color: rgb(255, 125, 1);
    }
}

.contacts__main_block__main_content__left_block___text_content_container{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    width: 880px;
}

.contacts__main_block__main_content__left_block___header{
    font-size: 20px;
    font-weight: 700;
}

.contacts__main_block__main_content__left_block___text_content{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    span{
        font-size: 16px;
        font-weight: 400;
    }

    span:nth-child(4){
        font-weight: 500;
    }
}

.contacts__main_block__main_content__left_block___cards_container{
    margin-top: 20px;
}

.card__call_center{
    padding: 20px;
    width: 281.14px;
    box-sizing: border-box;
    border: 1px solid rgb(123, 200, 252);
    border-radius: 12px;
}

.card__call_center__header{
    display: flex;
    gap: 14px;
    align-items: center;
    height: 27px;
    border-bottom: 1px solid rgb(243, 243, 243);

    img{
        width: 17.14px;
        height: 17.14px;
        margin-bottom: 14px;
    }

    span{
        color: rgb(123, 200, 252);
        font-family: TT Firs;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        display: flex;
        margin-bottom: 14px;
    }
}

.card__call_center__phone_number{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 4px;

    span:nth-child(1){
        font-size: 20px;
        font-weight: 800;
    }

    span:nth-child(2){
        font-size: 12px;
        font-weight: 400;
    }
}

.card__call_center__mail{
    margin-top: 18px;

    a{
        color: rgb(29, 29, 29);
        font-size: 16px;
        font-weight: 700;
    }
}

.card__call_center__work_schedule{
    margin-top: 18px;
    display: flex;
    flex-direction: column;

    span{
        font-size: 16px;
        font-weight: 400;
    }
}