.path_tothe_card__container{
    margin-top: 24.5px;
    display: flex;
    justify-content: center;
}

.path_tothe_card__content{
    width: 1190px;
    height: 21px;
    color: rgb(109, 109, 109);
    font-family: TT Firs;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.path_tothe_card__content span:last-child{
    color: rgb(29, 29, 29);
    font-weight: 700;
}

.card_top_block__container{
    margin-top: 32px;
}

.card_top_block__content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.prod_card__foto{
    width: 480px;
    height: 518px;
}

.card_main_foto{
    background-image: url('../../../img/prod_card/prod_card__foto/Purina_Friskies_5_promises.png');
    width: 480px;
    height: 518px;
}

.prod_card__name_and_price{
    width: 685px;
    display: flex;
    flex-direction: column;
}

.prod_card__name{
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 52px;
    font-weight: 700;
    line-height: 69px;
    width: 679px;
    height: 69px;
    display: block;
}

.prod_card__name___mobile{
    display: none;
}

.article_reviews__container{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.article_reviews__container___mobile{
    display: none;
}

.article{
    font-size: 16px;
    line-height: 21px;
    width: 142px;
}

.reviews{
    display: flex;
    align-items: center;
    gap: 3.49px;

    span{
        color: rgb(255, 125, 1);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-decoration-line: underline;
    }
}

.prod_card_price__container{
    display: flex;
    margin-top: 18px;
    align-items: center;
}

.prod_card_price__text{
    display: flex;
    align-items: flex-end;
    height: 40px;
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    width: 35px;
}

.dashed_box{
    width: 369px;
    border-bottom: 1px dashed rgb(197, 197, 197);
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 15px;
}

.avaliable{
    width: 139px;
    border-radius: 100px;
    height: 34px;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    background: rgba(148, 247, 154, 0.41);

    span{
        color: rgb(69, 224, 88);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
    }

    img{
        width: 11.73px;
        height: 8.94px;
    }
}

.card_price{
    width: 134px;
    display: flex;
    justify-content: flex-end;
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
}

.addTo_favourite_compare_bonuses__container{
    margin-top: 36px;
}

.addTo_favourite_compare_bonuses__content{
    display: flex;
    gap: 83px;
}

.addTo_favourite_compare__container{
    display: flex;
    align-items: center;
    gap: 24px;
}

.addTo_favourite{
    display: flex;
    gap: 13.88px;
    align-items: center;
}

.compare{
    display: flex;
    gap: 12px;
    align-items: center;
}

.addTo_favourite span, .compare span{
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.bonuses_text__top{
    a{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
    }

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
    }
}

.bonuses__container{
    display: flex;
    border-radius: 12px;
    background: rgb(243, 243, 243);
    width: 279px;
    height: 77px;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.bonuses_text__bottom{
    font-family: TT Firs;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.bonuses_text__bottom span:first-child{
    color: rgb(255, 125, 1);
}

.quantity_weight_buy__container{
    margin-top: 20px;
}

.quantity_weight_buy__content{
    display: flex;
    gap: 40px;
}

.quantity_weight__container{
    display: flex;
    gap: 40px;
}

.quantity__content{
    display: flex;
    gap: 14px;
    width: 260px;
    height: 59px;
}

.quantity_content__text{
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.number_of_quantity{
    border: 1px solid rgb(210, 210, 210);
    border-radius: 100px;
    width: 180px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 20px 19px 20px;
    gap: 19px;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 500;
    }
}

.weight_content{
    display: flex;
    align-items: center;
    gap: 14px;
    height: 59px;
}

.weight_text{
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 16px;
    font-weight: 400;
}

.weight_value{
    width: 106px;
    height: 59px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 500;
    }
}

.buy_content{
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        width: 180px;
        height: 59px;
        border: 1px solid rgb(255, 125, 1);
        border-radius: 100px;
        background: rgb(255, 125, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span{
        color: rgb(255, 255, 255);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 700;
    }
}

.buy_text{
    span{
        font-family: TT Firs;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgb(29, 29, 29);
    }
}

.buy_text span:first-child{
    color: rgb(255, 125, 1);
}

.pickUp_from_store__avaliability__container{
    margin-top: 24px;
}

.delivery_to{
    display: flex;
    align-items: center;
    gap: 3px;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 400;
    }
}

.city_choice__container{
    display: flex;
    align-items: center;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
    }
}

.pickUp_from_store__avaliability___bottom_content_container{
    margin-top: 10px;
    width: 680px;
    height: 81px;
    border-radius: 12px;
    background: rgb(243, 243, 243);
    display: flex;
    padding: 16px;
    gap: 12px;
}

.pickUp_from_store__content{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 416px;
    height: 41px;
}

.pickUp_from_store__text_block{
    display: flex;
    flex-direction: column;
}

.pickUp_from_store__text_block span:first-child{
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 16px;
    font-weight: 700;
}

.pickUp_from_store__text_block span:last-child{
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.avaliability__content{
    width: 220px;
    height: 49px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 125, 1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        color: rgb(255, 125, 1);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.card_center_block__container{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.description__characteristics___container{
    width: 450px;
    height: auto;
}

.description__characteristics___top_nav{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgb(242, 242, 242);
    height: 35px;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 18px;
        font-weight: 500;
    }

    img{
        position: absolute;
        top: 32px;
    }
}

.description_choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 24px;

    img{
        display: none;
    }
}

.characteristics_choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 180px;
    height: 24px;

    span{
        color: rgb(255, 125, 1);
        font-family: TT Firs;
        font-size: 18px;
        font-weight: 700
    }
}

.desription__top_block{
    margin-top: 27px;
}

.manufacturer__container, .country_of_manufacture__container, .type__container{
    height: 21px;
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.manufacturer__container span:first-child, .country_of_manufacture__container span:first-child, .type__container span:first-child{
    font-weight: 400;
}

.manufacturer__container span:last-child, .country_of_manufacture__container span:first-child, .type__container span:first-child{
    font-weight: 700;
}

.country_of_manufacture__container span:first-child{
    width: 190px;
}

.description_block__dashed_bottom_line{
    border-bottom: 1px dashed rgb(197, 197, 197);
    width: 70%;
    margin-top: 14.5px;
    margin-left: 14px;
    margin-right: 8px;
}

.description__main_block{
    margin-top: 26.5px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

.leave_feedback___container___mobile{
    display: none;
}

.ingredients, .food_supplements{
    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 700;
    }

    ul{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        list-style: inside;
        margin-top: 10px;
    }

    li{
        margin-left: 8px;
    }
}

.food_supplements{
    margin-top: 24px;
}

.detailed_description{
    margin-top: 24px;
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.delivery_price__payment__leave_feedback___container{
    width: 675px;
}

.courier_delivery, .nova_post, .ukr_post{
    display: flex;
    justify-content: space-between;
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.nova_post, .ukr_post{
    margin-top: 12px;
}

.payment__container{
    margin-top: 14px;
    display: flex;
    gap: 146px;
}

.payment_description{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 118px;

    span{
        margin-top: 14px;
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 400;
    }
}

.payment_description span:first-child{
    margin-top: 0;
    font-weight: 700;
}

.payment_cards{
    border-radius: 8px;
    background: rgb(243, 243, 243);
    width: 163px;
    height: 119px;
    padding: 12px;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.leave_feedback___container{
    margin-top: 40px;
}

.leave_feedback___content{
    border-radius: 16px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 26px 24px 24px 24px;
}

.leave_feedback__header{
    display: flex;
    gap: 48.24px;
}

.leave_feedback__card_title{
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 32px;
    font-weight: 700;
    width: 506px;
    height: 43px;
}

.log_in__box{
    display: flex;
    align-items: center;
    gap: 14.24px;

    img{
        width: 19.52px;
        height: 18.77px;
    }

    a{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
    }
}

.name__email__feedback_form___container{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.name__email_container{
    display: flex;
    gap: 14px;

    input{
        width: 309px;
        height: 49px;
        border: 1px solid rgb(210, 210, 210);
        border-radius: 100px;
        background: rgb(255, 255, 255);
        padding: 19px 18px 19px 18px;
    }
}

.feedback_form__container{
    input{
        width: 628px;
        height: 97px;
        box-sizing: border-box;
        border: 1px solid rgb(210, 210, 210);
        border-radius: 14px;
        background: rgb(255, 255, 255);
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 400;
        padding: 18px 0px 65px 18px;
    }
}

.rate_the_product__buy_btn__container{
    margin-top: 28px;
    display: flex;
    gap: 127px;
    align-items: center;
}

.rate_the_product__content{
    display: flex;
    gap: 13px;
    width: 218px;
    height: 21px;
    align-items: center;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 500;
    }
}

.stars_block{
    display: flex;
    gap: 5.99px;

    img{
        width: 14.01px;
        height: 13.5px;
    }
}

.leave_feedback_container___btn_buy{
    width: 306px;
    height: 49px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 125, 1);
    border-radius: 100px;
    background: rgb(255, 125, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        color: rgb(255, 255, 255);
        font-family: TT Firs;
        font-size: 16px;
        font-weight: 700;
    }
}

.card_bottom_block___container{
    margin-top: 40px;
}

.card_bottom_block___content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buy_with_this_product___container{
    width: 480px;
}

.buy_with_this_product___header{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 43px;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 32px;
        font-weight: 700;
        height: 43px;
    }
}

.buy_with_this_product___slider_btns{
    display: flex;
    gap: 13.13px;

    a{
        width: 36.86px;
        height: 36.86px;
        box-sizing: border-box;
        border: 1.19px solid rgb(255, 125, 1);
        background: rgb(255, 255, 255);
        display: flex;
        border-radius: 100px;
        align-items: center;
        justify-content: center;
    }
}

.buy_with_this_product___card_container{
    margin-top: 19px;
    display: flex;
    gap: 20px;
}

.buy_with_this_product___card_container {
    .card{
        width: 215px;
        height: 439px;

        img{
            width: 215px;
        }
    }
    
    .article_and_review__container{
        flex-direction: column;
    }

    .article{
        font-size: 12px;
        font-weight: 400;
    }

    .stars_and_review__container{
        width: 142px;
        height: 16px;

        img{
            width: 10.51px;
            height: 10.12px;
        }
    }

    .card_description{
        font-size: 14px;
        font-weight: 400;
    }

    .buy_and_price__container{
        width: 215px;
        height: 49px;
    }
}

.reviews___header{
    display: flex;
    width: 680px;
    justify-content: space-between;

    span{
        color: rgb(29, 29, 29);
        font-family: TT Firs;
        font-size: 32px;
        font-weight: 700;
    }
}

.reviews___slider_btns{
    display: flex;
    gap: 13.13px;

    a{
        width: 36.86px;
        height: 36.86px;
        box-sizing: border-box;
        border: 1.19px solid rgb(255,125,1);
        background: rgb(255,255,255);
        display: flex;
        border-radius: 100px;
        align-items: center;
        justify-content: center;
    }
}

.review_cards__container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.review_card{
    display: flex;
    align-items: center;
}

.review_id{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        width: 89px;
        height: 38px;
        font-size: 14px;
        font-weight: 700;
        font-family: TT Firs;
        text-align: center;
        margin-top: 16px;
    }
}

.review__date__stars___mobile{
    display: none;
}

.review_vector_design___block{
    height: 145px;
    width: 39px;
    position: relative;
    display: flex;
    flex-direction: column;

    img{
        position: absolute;
        top: 85px;
    }
}

.review___main_block{
    display: flex;
    flex-direction: column;
}

.review___main_block___header{
    display: flex;
    gap: 16.75px;
}

.review___main_block___header___mobile{
    display: none;
}

.review___date_block{
    color: rgb(113, 113, 113);
    font-family: TT Firs;
    font-size: 12px;
    font-weight: 400;
}

.review___text_container{
    margin-top: 12px;
}

.review___text{
    width: 554px;
    height: 116px;
    padding: 20px;
    color: rgb(29, 29, 29);
    font-family: TT Firs;
    font-size: 13px;
    font-weight: 400;
    border-radius: 14px;
    background: rgb(243, 243, 243);
}