.path_tothe_card__container{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.path_tothe_card__content{
    width: 1179px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 21px;

    span{
        font-size: 16px;
        font-weight: 400;
    }

    span:last-child{
        font-weight: 700;
    }
}

.shops_map__container{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.shops_map__header{
    display: flex;
    gap: 8px;

    span{
        font-size: 52px;
        font-weight: 700;
    }

    a{
        font-size: 52px;
        font-weight: 700;
        color: rgb(255, 125, 1);
        text-decoration: underline;
    }
}

.shops_map__map_content{
    margin-top: 24px;
}

.shops_cards__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.shops_cards__content{
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    gap: 20px;
}

.shop_card{
    border: 1px solid rgb(238, 238, 238);
    border-radius: 12px;
    padding: 24px;
    width: 380px;
    height: auto;
}

.shop_card__header{
    span{
        font-size: 18px;
        font-weight: 700;
    }
}

.shop_card__location{
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 14px;
    height: 42px;

    span{
        font-size: 16px;
        font-weight: 400;
    }
}

.shop_card__phone{
    display: flex;
    gap: 14px;
    margin-top: 14px;
    border-bottom: 1px solid rgb(244, 244, 244);
    padding-bottom: 14px;

    span{
        font-size: 16px;
        font-weight: 500;
    }
}

.shop_card__work_schedule{
    margin-top: 14px;

    span{
        font-size: 12px;
        font-weight: 400;
    }
}

.shop_card__look_at_map{
    margin-top: 14px;

    a{
        display: flex;
        align-items: baseline;
        gap: 12px;
    }

    span{
        font-size: 16px;
        font-weight: 500;
        color: rgb(255, 125, 1);
    }
}

.button__show_more__container{
    margin-top: 24px;
}

.button__show_more__content{
    box-sizing: border-box;
    border: 1px solid rgb(255, 125, 1);
    border-radius: 100px;
    width: 180px;
    height: 59px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;

    a{
        display: flex;
        color: rgb(255, 125, 1);
        align-items: center;
        gap: 12px;
    }
    
}

.reviews__content___right_block___img{
    background-image: url(../../../img/shops_page/reviews_block.png);
    width: 494px;
    height: 464px;
    float: right;
    margin-left: 30px
}

.reviews__container{
    display: flex;
    justify-content: center;
}

.reviews__content{
    width: 1180px;
    height: 440px;
    display: flex;
    border-radius: 44px;
    background: rgb(243, 145, 222);
    margin-top: 70px;
}

.reviews__content___left_block{
    margin-top: 110px;
    margin-left: 70px;
}

.reviews__content__text_header{
    color: rgb(255, 255, 255);
    font-size: 52px;
}

.reviews__content__text{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 44px;
}

.reviews__content__button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
    background: rgb(255, 255, 255);
    width: 210px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        color: rgb(243, 145, 222);
        font-size: 16px;
    }
}

.viewed_products__container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.viewed_products__content{
    width: 1180px;
}

.viewed_products__text_header{
    font-size: 32px;
    font-weight: 700;
}

.viewed_products__prod_cards__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

@media (max-width: 1240px){

    .shops_map__content{
        width: 95%;
    }

    .shops_map__header{
        flex-direction: column;
        align-items: center;

        span{
            font-size: 42px;
        }
    }

    .shops_map__header___span_block{

        span{
            font-size: 42px;
        }
    }

    .shops_map__map_content{

        img{
            display: none;
        }

        background-image: url(../../../img/shops_page/map__mobile_screen.png);
    }

    .shops_map__map_content{
        height: 360px;
    }

    .shops_cards__content{
        width: 95%;
    }

    .shop_card{
        width: 100%;
    }

    .reviews__content{
        display: flex;
        flex-direction: column;
        height: 612px;
        width: 95%;
    }

    .reviews__content___left_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 39.99px;
        margin-left: 0;
        position: relative;
    }

    .reviews__content__text_header{
        font-size: 42px;
        width: 285px;
        height: 144px;
        font-weight: 800;
        text-align: center;
    }

    .reviews__content__text{
        font-size: 16px;
        width: 207px;
        height: 42px;
        text-align: center;
        margin-top: 30px;
    }

    .reviews__content___right_block___img{
        background-image: url(../../../img/shops_page/reviews_block__mobile_screen.png);
    }

    .reviews__content__button{
        position: absolute;
        z-index: 1;
        top: 474px;
        width: 210px;
        height: 59px;
    }

    .reviews__content___right_block{
        position: relative;
    }

    .reviews__content___right_block___img{
        position: absolute;
        top: -301px;
        width: 345px;
        height: 612px;
        margin-left: 0;
    }

    .viewed_products__content{
        width: 95%;
    }

    .card{
        width: 100%;
    }
}