.my_eurozoo_block__and__my_orders_block___container{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.my_eurozoo_block__header{
    font-size: 22px;
    font-weight: 700;
}

.path_tothe_card__container{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.path_tothe_card__content{
    width: 1179px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 21px;

    span{
        font-size: 16px;
        font-weight: 400;
    }

    span:last-child{
        font-weight: 700;
    }
}

.my_eurozoo_block__user_area_section{
    width: 380px;
    height: auto;
    border-radius: 12px;
    background: rgb(243, 243, 243);
    margin-top: 20px;
    padding: 24px;
}

.my_eurozoo_block__user_area__greetings_header {

    span:first-child{
        font-size: 18px;
        font-weight: 500;
    }

    span{
        font-size: 19px;
        font-weight: 700;
    }
}

.my_eurozoo_block__user_area__options{
    margin-top: 16px;
    border-bottom: 1px solid rgb(224, 224, 224);

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;

        li:last-child{
            margin-bottom: 20.5px;
        }
    }

    a{
        display: flex;
        gap: 10px;
        align-items: center;

        span{
            font-size: 16px;
            font-weight: 400;
            color: rgb(29, 29, 29);
        }
    }
}

.my_eurozoo_block__user_bonus_account__container{
    margin-top: 25.5px;
}

.my_eurozoo_block__user_bonus_account__header{
    display: flex;
    align-items: baseline;
    gap: 12px;

    span{
        font-size: 18px;
        font-weight: 700;
    }
}

.my_eurozoo_block__user_bonus_account___on_account{
    margin-top: 24px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:first-child{
        font-size: 16px;
        font-weight: 400;
    }

    span:last-child{
        font-size: 32px;
        font-weight: 800;
        color: rgb(255, 125, 1);
    }
}

.my_eurozoo_block__user_bonus_account___discount_percentage_block{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 11px;
}

.my_eurozoo_block__user_bonus_account___discount_percentage_value_and_line{
    padding: 14px;
}

.my_eurozoo_block__user_bonus_account___discount_percentage_value{
    display: flex;
    gap: 112px;

    span{
        font-size: 12px;
        font-weight: 700;
        color: rgb(175, 175, 175);
        width: 28px;
        height: 16px;
        display: flex;
        justify-content: center;
    }

    span:first-child{
        color: rgb(29, 29, 29);
    }
}

.my_eurozoo_block__user_bonus_account___discount_percentage_line{
    width: 306px;
    height: 11px;
    border-radius: 100px;
    background: rgb(243, 243, 243);
    margin-top: 5px;
}

.progress{
    width: 28px;
    height: 11px;
    display: block;
    border-radius: 100px;
    background: rgb(255, 125, 1);
}

.my_eurozoo_block__user_bonus_account___discount_percentage_description{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    line-height: 16px;

    span{
        font-size: 12px;
        font-weight: 300;
    }
}

.exit_account__container{
    border-top: 1px solid rgb(224, 224, 224);
    margin-top: 20.5px;
}

.exit_account__content{
    margin-top: 20.5px;

    a{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    span{
        color: rgb(29, 29, 29);
        font-size: 16px;
        font-weight: 400;
    }
}